# This is a basic workflow to help you get started with Actions

name: Shell Check

"on":
  push:
    branches:
      - "feature/**"
  workflow_dispatch:

jobs:
  shell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
